body {
  font-family : sans-serif;
  color : #777777;
  }
  

.purple-color{
  color : #8845f4;
}

.half-width{
  line-height : 26px;
  width : 50% ;
  float : left ;
}

.side-img{
  width : 50%;
  padding-left: 25%;
}

.dream-img{
  width : 100%;
  padding: 42px 42px 5px 0px;
}

.button {
  color: white;
  background-color : #8845f4;
  padding : 13px 42px 13px 42px;
  border-radius : 20px;
  text-decoration : none;
}

  
h1 {
  font-size : 1.5em;
}

.container{
  padding-left: 5%;
  display : inline-block;
}

.experiences{
  padding : 30px;
  margin : 30px;
  background-color : rgb (238,251,255);
  border-radius : 20px;
}

.experience-item{
  padding : 10px;
  border-left : 1px solid rgba(137,130,247,.2);
}


  